* {
	box-sizing: border-box;
}
body {
	margin:0;
	width: 700px;
	color: white;
	background-size:500px 200px;
	
	background-repeat-x: no-repeat;
}
.square {
	width: 500px ;
} 
.square_red {
	background-color: red;
	color:#ffff00;
	margin: 25px;
}
.square_green {
	background-color: green;
}
.image {
	width: 100px;
	height: 100px;
	float: right;
}