* {
    box-sizing: border-box;
}

body {
    background-color: #f0ebff;
    margin-left: 50px;
    background-image: url(IMG/background1.jpg)
}
.main {
    margin-top: 80px;
}
h1 {
    margin-left: 15%;
    margin-right: 15%;
    display: block;
    background-color: #ffb666;
    color: black;
    text-align: center;
}
h2, .item {
    display: block;
    height: 40px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-family: sans-serif;
    background-color: lightskyblue;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card_container {
    margin-top: 20px;
    width: 30%;
    background-color: #c2edff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    border: 7px solid cadetblue;


}
.card-name {
    text-align: center;
    margin: 5px;
}
.card-coast {
    text-align: center;
    margin: 5px;

}
.img {
    width: 100%;
    height: 350px;
    position: center;

}
.button {
    width: 100%;
    height: 28px;
    font-size: 21px;
    background-color: red;
    color: aliceblue;
    border: none;