* {
    box-sizing: border-box;
}
body {
    position: relative;
    margin: 0;
}
.header {
    position: fixed;
    background: purple;
    width: 100vw;
    margin: 0;
    top: 0;
    height: 70px;
    z-index: 10;
    border: 3px solid white;
}
.h1 {
    color: white;
    display: block;
    position: absolute;
    margin: 0;
    width: 100%;
    top: 25%;
    left: 20px;
}
.main {
    top: 77px;
    position: relative ;
    left: 200px;
    z-index: 1;
    width: 71vw;
}
.aside {
    position: fixed;
    top: 68px;
    left: 0;
    width: 200px;
    background: white;
    text-align: center;
    border-right: 3px solid grey ;
}
.links{
    font-size: 20px;
    font-family: sans-serif;
}

.block1 {
    margin: 20px 0;
    position: relative;
    left: 20px;
}
.block_letter {
    background: blue;
    height: 30px;
    margin: 0;
    left: 5px;
    font-family: sans-serif;
}
p {
    font-size: 20px;
}
.block_letter_s {
    position: sticky;
    top: 70px;
}
.name {
    margin: 5px;
    left: 5px;
}