.lesson-button{
    padding: 5px 10px;
    background: red;
    color: white;
    border: none;
    outline: none;
    border-radius: 0;
}
.lesson-button_disabled {
    pointer-events: none;
    background: grey;
    color: dimgrey;
}
.news {
}
.news__items {
    display: flex;
    flex-wrap: wrap;
}
.news__item {
    margin: 0 40px;
    box-shadow: 1px 4px 3px #ccc;
    padding: 30px;
    width: 300px;
}
.news__item-image {
    width: 200px;
    height: 200px;
    object-fit: cover;

}
.news__item-title {
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
}
.news__item-description {
    margin-top: 20px;
}

.news__item_theme_dark{
    background: darkblue;
}
.news__item_theme_dark .news__item-title {
    color: white;
}
.news__item_theme_dark .news__item-description {
    color: white;