* {
    box-sizing: border-box;
}

@media screen and (max-width: 1440px) and (min-width: 769px) {


    body {
        position: relative;
        margin: 0;
        width: fit-content;
        height: 100vh;
        /*background-color: #1B2473;*/
    }

    .page {
        position: relative;
        width: 100vw;
        height: 100vh;
        background-color: #1B2473;
    }

    .enter-form {
        position: absolute;
        background-color: #ffffff;
        width: 600px;
        height: 412px;
        top: 82px;
        left: 25vw;
        border: 3px solid grey;
        box-shadow: 0 0 40px 10px;
        border-radius: 20px;
        z-index: 999;
    }

    .enter-form__h1 {
        position: absolute;
        margin: 0;
        width: fit-content;
        height: 50px;
        top: 26px;
        left: 150px;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 50px;
        color: #787878;
    }

    .enter-form__login {
        position: absolute;
        width: 509px;
        height: 49px;
        left: 45px;
        top: 112px;
    }

    .enter-form__login-label {
        position: absolute;
        width: 56px;
        height: 16px;
        left: 8px;
        top: -19px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        color: #787878;
    }

    .enter-form__login-label.error {
        color: #fc2828;
    }

    .enter-form__email-star {
        display: none;
        position: relative;
        left: -10px;
        color: #fc2828;
    }

    .enter-form__email-star.error {
        display: block;
        color: #fc2828;
    }

    .enter-form__login-input {
        position: absolute;
        width: 509px;
        height: 49px;
        left: 0;
        top: 0;
        border: 2px solid #787878;
        border-radius: 10px;
        font-size: 28px;
        line-height: 36px;
    }

    .enter-form__login-input.error {
        border: 2px solid #fc2828;
    }

    .enter-form__error-message_login {
        display: none;
        position: relative;
        top: 3px;
        margin: 3px 0 0 0;
        color: #fc2828;
    }

    .enter-form__error-message_login.error {
        display: block;
    }

    .enter-form__login-input::placeholder {
        color: #787878;
        position: absolute;
        font-size: 28px;
        font-style: normal;
        font-weight: bold;
        line-height: 36px;
        top: 7px;
    }

    .enter-form__password {
        position: absolute;
        width: 509px;
        height: 49px;
        left: 45px;
        top: 210px;
    }

    .enter-form__password-star {
        display: none;
        position: relative;
        left: -10px;
        color: #fc2828;
    }

    .enter-form__password-star.error {
        display: block;
    }

    .enter-form__password-input {
        position: absolute;
        width: 509px;
        height: 49px;
        left: 0;
        top: 0;
        border: 2px solid #787878;
        border-radius: 10px;
        font-size: 28px;
        line-height: 36px;
    }

    .enter-form__password-input.error {
        border: 2px solid #fc2828;
    }

    .enter-form__error-message_password {
        display: none;
        position: relative;
        top: 5px;
        margin: 3px 0 0 0;
        color: #fc2828;
    }

    .enter-form__error-message_password.error {
        display: block;
    }

    .enter-form__password-label {
        position: absolute;
        width: 56px;
        height: 16px;
        left: 8px;
        top: -19px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        color: #787878;
    }

    .enter-form__password-input::placeholder {
        color: darkgray;
        position: absolute;
        font-size: 28px;
        font-style: normal;
        font-weight: bold;
        line-height: 36px;
        top: 7px;
    }

    .enter-form__checkbox {
        position: absolute;
        width: 312px;
        height: 24px;
        left: 45px;
        top: 288px;
    }

    .enter-form__checkbox-label {
        position: absolute;
        width: fit-content;
        height: 16px;
        left: 34px;
        top: 4px;
        font-size: 14px;
        line-height: 16px;
        font-style: normal;
        font-weight: normal;
        color: #787878;
    }

    .enter-form__checkbox-square {
        position: absolute;
        width: 24px;
        height: 24px;
        left: 0;
        top: 0;
        background-color: #ffffff;
        border: 2px solid #787878;
        border-radius: 7px;
    }

    .enter-form__checkbox-square.error {
        border: 2px solid #fc2828;
    }

    .enter-form__checkbox_star {
        display: none;
        position: absolute;
        margin: 0;
        top: 0;
        left: -10px;
        color: #fc2828;
    }

    .enter-form__checkbox_star.error {
        display: block;
    }

    .enter-form__checkbox-input:checked + .enter-form__checkbox-square {
        background-color: #1B2473;
    }

    .enter-form__checkbox_error-checkbox {
        display: none;
        position: relative;
        top: 3px;
        margin: 3px 0 0 0;
        color: #fc2828;
    }

    .enter-form__checkbox_error-checkbox.error {
        display: block;
    }

    .enter-form__button {
        position: relative;
        width: fit-content;
        height: 52px;
        left: 180px;
        top: 334px;
    }

    .enter-form__button_background_blue {
        position: relative;
        width: 250px;
        height: 52px;
        left: 0;
        top: 0;
        background-color: #1B2473;
        border-radius: 10px;
    }

    .enter-form__button_paragraph {
        position: absolute;
        margin: 0;
        width: fit-content;
        height: 25px;
        left: 55px;
        top: 18px;
        font-size: 24px;
        line-height: 16px;
        font-style: normal;
        font-weight: bold;
        color: #ffffff;
    }
}

/*@media screen and (max-width: 768px) and (min-width: 320px) {*/
/*    * {*/
/*        box-sizing: border-box;*/
/*    }*/

/*    body {*/
/*        position: relative;*/
/*        margin: 0;*/
/*        width: fit-content;*/
/*        min-width: 320px;*/
/*        max-width: 768px;*/
/*        height: 100vh;*/
/*    }*/

/*    body .page {*/
/*        position: relative;*/
/*        width: 100vw;*/
/*        height: 100vh;*/
/*        background-color: #1B2473;*/
/*    }*/

/*    .enter-form {*/
/*        position: absolute;*/
/*        display: flex;*/
/*        flex-wrap: wrap;*/
/*        justify-content: space-between;*/
/*        background-color: white;*/
/*        top: 20px;*/
/*        left: 20px;*/
/*        right: 20px;*/
/*        bottom: 20px;*/
/*        box-shadow: 0 0 40px 10px;*/
/*        border-radius: 20px;*/

/*    }*/

/*    .enter-form__h1 {*/
/*        position: absolute;*/
/*        margin: 0;*/
/*        top: 38px;*/
/*        left: 40%;*/
/*        right: 40%;*/
/*        width: 138px;*/
/*        height: 50px;*/
/*        font-style: normal;*/
/*        font-weight: bold;*/
/*        font-size: 60px;*/
/*        line-height: 50px;*/
/*        color: #787878;*/
/*    }*/

/*    .enter-form__login {*/
/*        position: absolute;*/
/*        width: 90%;*/
/*        height: 75px;*/
/*        left: 5%;*/
/*        right: 5%;*/
/*        top: 112px;*/
/*    }*/

/*    .enter-form__login-label {*/
/*        position: absolute;*/
/*        width: 60px;*/
/*        height: 16px;*/
/*        left: 8px;*/
/*        top: 0;*/
/*        font-style: normal;*/
/*        font-weight: bold;*/
/*        font-size: 24px;*/
/*        line-height: 16px;*/
/*        color: #787878;*/
/*    }*/

/*    .enter-form__login-input {*/
/*        position: absolute;*/
/*        width: 100%;*/
/*        height: 49px;*/
/*        left: 0;*/
/*        top: 24px;*/
/*        background-color: white;*/
/*        border: 2px solid #787878;*/
/*        border-radius: 10px;*/
/*        font-size: 28px;*/
/*        line-height: 36px;*/
/*    }*/

/*    .enter-form__login-input::placeholder {*/
/*        color: #787878;*/
/*        position: absolute;*/
/*        font-size: inherit;*/
/*        font-style: normal;*/
/*        font-weight: bold;*/
/*        line-height: 5vw;*/
/*        top: 7px;*/
/*    }*/

/*    .enter-form__password {*/
/*        position: absolute;*/
/*        width: 90%;*/
/*        height: 75px;*/
/*        left: 5%;*/
/*        right: 5%;*/
/*        top: 193px;*/
/*    }*/

/*    .enter-form__password-input {*/
/*        position: absolute;*/
/*        width: 100%;*/
/*        height: 49px;*/
/*        left: 0;*/
/*        top: 24px;*/
/*        background-color: white;*/
/*        border: 2px solid #787878;*/
/*        border-radius: 10px;*/
/*        font-size: 28px;*/
/*        line-height: 36px;*/
/*    }*/

/*    .enter-form__password-label {*/
/*        position: absolute;*/
/*        width: 60px;*/
/*        height: 16px;*/
/*        left: 8px;*/
/*        top: 0;*/
/*        font-style: normal;*/
/*        font-weight: bold;*/
/*        font-size: 24px;*/
/*        line-height: 16px;*/
/*        color: #787878;*/
/*    }*/

/*    .enter-form__password-input::placeholder {*/
/*        color: darkgray;*/
/*        position: absolute;*/
/*        font-size: 5vw;*/
/*        font-style: normal;*/
/*        font-weight: bold;*/
/*        line-height: 36px;*/
/*        top: 7px;*/
/*    }*/

/*    .enter-form__checkbox {*/
/*        position: absolute;*/
/*        width: 408px;*/
/*        height: 32px;*/
/*        left: 27px;*/
/*        top: 279px;*/
/*    }*/

/*    .enter-form__checkbox-label {*/
/*        position: absolute;*/
/*        width: 358px;*/
/*        height: 16px;*/
/*        left: 42px;*/
/*        top: 8px;*/
/*        font-size: 18px;*/
/*        line-height: 16px;*/
/*        font-style: normal;*/
/*        font-weight: normal;*/
/*        color: #787878;*/
/*    }*/

/*    .enter-form__checkbox-square {*/
/*        position: absolute;*/
/*        width: 32px;*/
/*        height: 32px;*/
/*        left: 0;*/
/*        top: 0;*/
/*        background-color: #ffffff;*/
/*        border: 2px solid #787878;*/
/*        border-radius: 7px;*/
/*    }*/

/*    .enter-form__checkbox-input:checked + .enter-form__checkbox-square {*/
/*        background-color: #1B2473;*/
/*    }*/

/*    .enter-form__button {*/
/*        position: absolute;*/
/*        width: 220px;*/
/*        height: 80px;*/
/*        left: 35%;*/
/*        right: 45%;*/
/*        top: 375px;*/
/*    }*/

/*    .enter-form__button_background_blue {*/
/*        position: absolute;*/
/*        width: 220px;*/
/*        height: 80px;*/
/*        left: 0;*/
/*        top: 0;*/
/*        background-color: #1B2473;*/
/*        border-radius: 10px;*/
/*    }*/

/*    .enter-form__button_paragraph {*/
/*        position: absolute;*/
/*        margin: 0;*/
/*        width: 92px;*/
/*        height: 16px;*/
/*        left: 64px;*/
/*        top: 32px;*/
/*        font-size: 32px;*/
/*        line-height: 16px;*/
/*        font-style: normal;*/
/*        font-weight: bold;*/
/*        color: #ffffff;*/
/*    }*/

/*    .enter-form__background-colors {*/
/*        z-index: 5;*/
/*        position: absolute;*/
/*        width: 100vw;*/
/*        height: 100vh;*/
/*        background-color: blue;*/
/*    }*/

/*}*/