@media screen and (min-width: 700px) and (max-width: 1500px){

* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
.body.body-theme {
    position: relative;
    background: antiquewhite;
    padding: 0;
    margin: 0;
    min-height: 100%;
}

.page {
    position: relative;
    width: 100%;
}

.header {
    position: relative;
    width: 100%;
    background-color: #f1f1f1;
    z-index: 2;
}

.header__container {
    position: relative;
    width: 100%;
}

.container__h1 {
    position: relative;
    margin: 0;
    padding: 10px;
    width: fit-content;
}

.container__enter-panel {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    top: 50px;
    right: 10px;
    height: fit-content;
    width: fit-content;
    background-color: #0d1535;
    padding: 5px;
}

.container__enter-panel_login {
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: none;

}

.container__enter-panel_registry {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-right: 10px;
    border-right: solid 2px gray;
}

.container__logo {
    position: relative;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
}

.container__logo_image {
    position: relative;
    width: 100%;
    height: 100%;
}

.container__section {
    position: relative;
    height: 30px;
    bottom: 0;
    background-color: #71a9ff;
}

.container__section_links {
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.container__section_links_anchor {
    background-color: #71a9ff;
    color: antiquewhite;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    font-family: sans-serif;
}
.container__section_links_anchor:hover {
    background-color: antiquewhite;
    color: gray;
    text-decoration: underline 2px gray;
}

.main {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
}

.main__aside {
    margin-top: 5px;
    width: 17%;
    background-color: azure;
    height: fit-content;
    border: solid 2px #ccc;
}

.aside__categories {
    padding-left: 10px;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bolder;

}

.categories__anchor {
    margin: 10px 0 10px;
    width: 80%;
    height: fit-content;
    justify-content: center;
    list-style-type: none;
}

.categories__anchor_black {
    color: black;
    font-size: 16px;
    outline: none;
    border: none;
    text-decoration: none;

}
a:hover {
    text-decoration: underline 1px black;
}

.main-cards {
    position: relative;
    left: 3%;
    width: 79%;
    background-color: antiquewhite;
    z-index: 2;
}

.main__cards_assortment {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.assortment__product {
    position: relative;
    width: 33.333333%;
    min-width: 180px;
    height: fit-content;
    background-color: wheat;
    margin: 5px 0 30px;
    border: solid 2px #9e9bff;
    border-radius: 20px;
}

.assortment__product_image {
    position: relative;
    padding: 3px;
    height: fit-content;
}

.assortment__product_image_scale {
    position: relative;
    width: 100%;
    min-height: 250px;
    border-radius: 20px;
}

.assortment__product_characteristic {
    text-align: center;
    color: gray;
    margin: 0;
}

.assortment__product_buy-section {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 0;
}

.assortment__product_price {
    padding: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.assortment__product_buy {
    color: white;
    font-size: 16px;
    border-radius: 20px;
    background-color: red;
}

.footer {
    height: 100px;
    width: 100%;
    background-color: crimson;
}

.main__product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    left: 3%;
    width: 79%;
    background-color: antiquewhite;
    z-index: 2;
    padding: 20px;

}

.product__card {
    position: relative;
    width: 65%;
    height: fit-content;
    border: solid 2px gray;
    border-radius: 20px;
}

.card__presentation {
    position: relative;
    width: 100%;
    height: fit-content;
}

.card__presentation_image {
    position: relative;
    width: 100%;
    min-width: 300px;
    height: 500px;
    border-radius: 20px;
}

.product__buy-section {
    position: relative;
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    text-align: center;
    background-color: #b3c3f1;
    border-radius: 20px;
}

.product__buy-section_price {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0;
    padding: 10px;


}

.product__buy-section_button {
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    margin: 0;
    border-radius: 20px;
    background-color: red;
}

.product__characteristics {
    width: 33%;
    background-color: azure;
    padding: 10px;

}

.product__characteristics_text {
    font-family: sans-serif;
    font-size: 18px;
    width: 100%;
}

}