* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

.Card-page {
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: #cbced7;
}

.Card-page__main {
    position: relative;
    width: 50%;
    height: fit-content;
    left: 25%;
    border: 4px solid #ecf142;
}


.main__image {
    position: relative;
    width: 100%;
    height: fit-content;
}
.main__image_sneaker {
    position: relative;
    width: 100%;
    height: 600px;
}