body{
	background-color:#d8a8ff;
}
h1{
	color:#ffff00;
	font-family: sans-serif;
}
h1.form-title {
	text-align: center;
}
input,
button {
	display:block;
}
input {
	border: none;
	background: none;
	border-bottom: 1px solid #ffff00;
	outline: none;
	border-radius: none;
}
button {
	border-radius: 0;
	border: none;
	background-color: #ffff00;
}
.form-container {
	display: flex;
	flex-direction: column;
	width: 500px;
	margin: 0 auto;
}
.form-inner-container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
button.form-button {
	margin-top: 20px;
}