@media screen and (min-width: 700px) and (max-width: 1500px){

  * {
    box-sizing: border-box;
  }
  html {
    position: relative;
    height: 100%;
  }
  /*body {*/
  /*  position: relative;*/
  /*  background: antiquewhite;*/
  /*  padding: 0;*/
  /*  margin: 0;*/
  /*  min-height: 100%;*/
  /*}*/

  body {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Calibri";
  }

  .root {
    position: relative;
    width: 100%;
  }

  .page {
    position: relative;
    width: 100%;
  }

  .header-container {
    width: 100%;
    background: #484b4a;
    color: white;
    position: sticky;
    top: 0;
    height: 50px;
    display: inline-block;
  }

  .nav-container {
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav-container ul {
    display: inline-flex;
  }

  .nav-container ul li {
    list-style-type: none;
    margin-right: 40px;
    font-weight: bold;
  }

  .nav-container ul li:hover{
    color: #f5be21;
  }

  .nav-container_logo {
    position: absolute;
    left: 5px;
    top: 3px;
    width: 40px;
    height: 40px;
    border: 2px solid #ecf142;
    border-radius: 10px;
    background-color: deepskyblue;
  }

  .main {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
  }

  .Aside {
    margin-top: 5px;
    width: 17%;
    background-color: azure;
    height: fit-content;
    border: solid 2px #ccc;
  }

  .aside__categories {
    padding-left: 10px;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bolder;

  }

  .categories__anchor {
    margin: 10px 0 10px;
    width: 80%;
    height: fit-content;
    justify-content: center;
    list-style-type: none;
  }

  .categories__anchor_black {
    color: black;
    font-size: 16px;
    outline: none;
    border: none;
    text-decoration: none;

  }
  .categories__anchor_black a:hover {
    text-decoration: underline 1px black;
  }

  .main-cards {
    position: relative;
    left: 3%;
    width: 79%;
    background-color: antiquewhite;
    z-index: 2;
  }

  .main__cards_assortment {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  .assortment__product {
    position: relative;
    width: 33.333333%;
    min-width: 240px;
    height: fit-content;
    background-color: wheat;
    margin: 5px 0 30px;
    border: solid 2px #9e9bff;
    border-radius: 20px;
  }

  .assortment__product_image {
    position: relative;
    padding: 3px;
    height: fit-content;
  }

  .assortment__product_image_scale {
    position: relative;
    width: 100%;
    min-height: 250px;
    border-radius: 20px;
  }

  .assortment__product_characteristic {
    text-align: center;
    color: gray;
    margin: 0;
  }

  .assortment__product_buy-section {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 0;
  }

  .assortment__product_price {
    padding: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  .assortment__product_buy {
    color: white;
    font-size: 16px;
    border-radius: 20px;
    background-color: red;
  }

  .footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #484b4a;
  }

  .main__product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    left: 3%;
    width: 79%;
    background-color: antiquewhite;
    z-index: 2;
    padding: 20px;

  }

  .product__card {
    position: relative;
    width: 65%;
    height: fit-content;
    border: solid 2px gray;
    border-radius: 20px;
  }

  .card__presentation {
    position: relative;
    width: 100%;
    height: fit-content;
  }

  .card__presentation_image {
    position: relative;
    width: 100%;
    min-width: 300px;
    height: 500px;
    border-radius: 20px;
  }

  .product__buy-section {
    position: relative;
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    text-align: center;
    background-color: #b3c3f1;
    border-radius: 20px;
  }

  .product__buy-section_price {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0;
    padding: 10px;


  }

  .product__buy-section_button {
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    margin: 0;
    border-radius: 20px;
    background-color: red;
  }

  .product__characteristics {
    width: 33%;
    background-color: azure;
    padding: 10px;

  }

  .product__characteristics_text {
    font-family: sans-serif;
    font-size: 18px;
    width: 100%;
  }

}

@media screen and (min-width: 700px) and (max-width: 1500px){

  * {
    box-sizing: border-box;
  }
  html {
    height: 100%;
  }
  .body.body-theme {
    position: relative;
    background: antiquewhite;
    padding: 0;
    margin: 0;
    min-height: 100%;
  }

  .page {
    position: relative;
    width: 100%;
  }

  .Header {
    position: relative;
    width: 100%;
    background-color: #f1f1f1;
    z-index: 2;
  }

  .header__container {
    position: relative;
    width: 100%;
    z-index: 0;
  }

  .container__h1 {
    position: relative;
    margin: 0;
    padding: 10px;
    width: fit-content;
  }

  .container__enter-panel {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    top: 50px;
    right: 10px;
    height: fit-content;
    width: fit-content;
    background-color: #0d1535;
    padding: 5px;
  }

  .container__enter-panel_login {
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: none;

  }

  .container__enter-panel_registry {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-right: 10px;
    border-right: solid 2px gray;
  }

  .container__logo {
    position: relative;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
  }

  .container__logo_image {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .container__section {
    position: relative;
    height: 30px;
    bottom: 0;
    background-color: #71a9ff;
  }

  .container__section_links {
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 100%;
  }

  .container__section_links_anchor {
    background-color: #71a9ff;
    color: antiquewhite;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    font-family: sans-serif;
  }
  .container__section_links_anchor:hover {
    background-color: antiquewhite;
    color: gray;
    text-decoration: underline 2px gray;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Calibri Light";
  }

  .main-container {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
  }

  .category-container {
    margin-top: 30px;
    height: fit-content;
  }

  .categories-list {
    position: sticky;
    padding: 10px;
    background: #484b4a;
    height: 600px;
    width: 150px;
    left: -30px;
    border-radius: 5px;
  }

  .nav-container {
    position: absolute;
    right: 0;
    top: 0;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: #f5be21;
  }

  .categories ul {
    color: white;
  }

  .categories ul li {
    list-style-type: none;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
  }

  .categories ul li:hover {
    color: #f5be21;
  }

  .assortment-container {
    padding: 30px;
    position: relative;
    border-radius: 10px;
    width: inherit;
  }

  .goods {
    display: flex;
    flex-wrap: wrap;
  }

  .good {
    padding: 10px;
    height: fit-content;
    width: 200px;
    box-shadow: 1px 1px 1px 1px #d7d7d7;
    margin-right: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  .good-logo {
    position: relative;
    top: 10px;
    height: 170px;
    width: 170px;
    border: 1px solid #484b4a;
    border-radius: 5px;
    margin: 0 auto;
  }

  .good-name {
    margin-top: 20px;
    position: relative;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 15px;
  }

  .good-description {
    margin-top: 15px;
    position: relative;
    text-align: center;
    width: 100%;
    height: 50px;
  }

  .good-price {
    position: relative;
    text-align: center;
    color: white;
    margin: 0 auto;
    vertical-align: center;
    font-weight: bold;
    font-size: 24px;
  }

  .good-action {
    margin-top: 10px;
    max-height: 30px;
    display: flex;
    position: relative;
    bottom: 0;
    background: #666968;
    width: 100%;
  }

  .to-cart {
    width: 30px;
    height: 30px;
    background: orange;
    border-radius: 4px;
  }

  .to-cart img {
    width: 32px;
    height: 32px;
  }

  .to-cart img:hover {
    background: #fffd0b;
    border-radius: 4px;
  }

  .Footer {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: crimson;
  }

  .main__product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    left: 3%;
    width: 79%;
    background-color: antiquewhite;
    z-index: 2;
    padding: 20px;

  }

  .product__card {
    position: relative;
    width: 65%;
    height: fit-content;
    border: solid 2px gray;
    border-radius: 20px;
  }

  .card__presentation {
    position: relative;
    width: 100%;
    height: fit-content;
  }

  .card__presentation_image {
    position: relative;
    width: 100%;
    min-width: 300px;
    height: 500px;
    border-radius: 20px;
  }

  .product__buy-section {
    position: relative;
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    text-align: center;
    background-color: #b3c3f1;
    border-radius: 20px;
  }

  .product__buy-section_price {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0;
    padding: 10px;


  }

  .product__buy-section_button {
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    margin: 0;
    border-radius: 20px;
    background-color: red;
  }

  .product__characteristics {
    width: 33%;
    background-color: azure;
    padding: 10px;

  }

  .product__characteristics_text {
    font-family: sans-serif;
    font-size: 18px;
    width: 100%;
  }


  .goods-table-container {
    width: 80%;
    margin: 0 auto;
  }

  .good-cart-container {
    padding: 20px;
  }

  .admin-label {
    font-size: 36px;
    font-weight: bold;
    color: #484B4A;
  }

  .goods-table {
    font-size: 24px;
    width: 90%;
    text-align: center;
    line-height: 40px;
  }

  .goods-table-head {
    font-weight: bold;
  }

  #change-good:hover {
    color: #ffc600;
    cursor: pointer;
  }

  #delete-good:hover {
    color: #ff4000;
    cursor: pointer;
  }

  #create-good {
    width: 30px;
    font-size: 30px;
  }

  #create-good:hover {
    cursor: pointer;
    color: #096e00;
    border-radius: 50px;
  }

  .goods-table tbody td {
    border-top: 1px solid grey;
  }


}