
<footer class="footer">
    <div class="footer__content">
        <div class="contant__block">

        </div>
        <div class="contant__block">

        </div>
        <div class="contant__block">

        </div>
    </div>
</footer>