<header class="header">
    <div class="header__container">
        <h1 class="container__h1">
            Название магазина
        </h1>
        <div class="container__enter-panel">
            <a class="container__enter-panel_registry">Регистрация</a>
            <a class="container__enter-panel_login" rel="nofollow noopener noreferrer" href="form/index.html">Войти</a>
        </div>
        <div class="container__logo">
            <img class="container__logo_image" src="img/logo.webp">
        </div>
        <div class="container__section">
            <div class="container__section_links">
                <a class="container__section_links_anchor" href="https://google.com" rel="nofollow noopener noreferrer" target="_blank">Хиты</a>
                <a class="container__section_links_anchor" href="https://google.com" rel="nofollow noopener noreferrer" target="_blank">Новинки</a>
                <a class="container__section_links_anchor" href="https://google.com" rel="nofollow noopener noreferrer" target="_blank">Наши магазины</a>
                <a class="container__section_links_anchor" href="https://google.com" rel="nofollow noopener noreferrer" target="_blank">Оплата и доставка</a>
                <a class="container__section_links_anchor" href="https://google.com" rel="nofollow noopener noreferrer" target="_blank">О нас</a>
            </div>
        </div>


    </div>
</header>

