* {
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100vh;
}
.container {
    position: relative;
    top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 15px 15px;
}
.header {
    display: block;
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    z-index: 2;
}
.header__theme_background-color_purple {
    background-color: purple;
}
.header .theme__h1 {
    color: white;
    position: absolute;
    margin: 0;
    top: 47%;
}
.links__list {
    top: 70px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-right: 3px solid grey;
    min-width: 17%;
    text-align: center;
}
.main {
    margin-top: 10px;
    display: block;
    width: 80%;
}
.main .main__content {
    margin-top: 10px;
    display: block;
}
.content__block {
    width: 100%;
    margin-bottom: 20px;
}
.block_background-color_blue {
    position: sticky;
    top: 70px;
    background-color: blue;
    width: 100%;
    margin-top: 0;
}
.block__name {
    margin: 3px;
}