[href] {
    color: red;
}
[href="https://yandex.ru"] {
    color: yellow;
}
[class~="class-1"] {
    color: gray;
}
[class|="classs"] {
    color: green;
}
[href^="https://vk"] {
    color: purple;
}
[href$=".org"] {
    color: goldenrod;
}
[href*="examplE"i] {
    color: black;
}