/*!*#my-id {*!*/
/*!*    color: blue;*!*/
/*!*}*!*/
/*.class-1.class-2 {*/

/*}*/
/*div.class-2 {*/
/*    color: cornflowerblue;*/
/*}*/
/*.class-1 {*/
/*    color: purple;*/
/*}*/
/*.class-2 {*/
/*    color: grey;*/
/*}*/
/*div {*/
/*    color: green;*/
/*}*/
.container .red-text {
    color: red;
}
.container > span {
    color: blue;
}
/*.neighbor-1 + .neighbor-2 {*/
/*    color: red;*/

/*}*/
.neighbor-1 ~ .neighbor-2 {
    color: red;
}